/* GERAL  */
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}
@font-face {
  font-family: "Aquatico";
  src: local(Aquatico), url(./assets/aquatico.otf);
}
/* LOGIN */
body{
    background: linear-gradient(-135deg, #78D6FE, #FFCA19);
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
    position: absolute;
}
#container-login {
    display: inline-block;
    align-items: center;
    width: 100%;
    max-width: 700px;
    height: 40vw;
    padding: 10px;
}
.banner  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    /* margin-bottom: 64px; */
}
.banner img {
    width: 102px;
}
.title-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-family: "Aquatico";
    font-size: 20pt;
}
.subtitle {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 15pt;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -52px; */
}
.input {
    width: 250px;
    height: 40px;
    margin-top: 5px;
    border: none;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 12pt;
    padding: 2%;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin:2% 0;
    cursor: pointer;
}
.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin p {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 15pt;
    font-weight: bolder;
    margin-top: 9px;
}
.login-buttons {
    width: 80px;
    height: 40px;
    /* margin-top: 3%; */
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 12pt;
}
#signin-button:hover{
    background-color: #FFCA19;
}
#signup-button {
  background-color: rgba(0, 0, 255, 0);
  border: none;
  cursor: pointer;
  font-size: larger;
  /* margin-top: 0; */
  color: #f3f3f3;
  width: 100%;
  font-size: 15pt;
}
span{
  color: rgb(54, 54, 54);
}
span:hover {
    color: #f3f3f3;
}
#firebaseui-auth-container{
    display: block;
}
/* PAGINA CADASTRO */
.banner-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    margin-bottom: 30px;
}
.banner-register img{
    width: 102px;
}
.formRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8%;
}
.login-buttons-register {
    width: 113px;
    height: 40px;
    margin-top: 3%;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 12pt;
}
.login-buttons-register:hover{
    background-color: #FFCA19;
}
.seta{
    width: 55px;
}

/* TIMELINE */
